In [1]:
import pandas as pd
import csv
import sqlite3
from matplotlib import pyplot as plt
import numpy as np


##part 3 code
class Employee:

   employeeCount = 0

   def __init__(self, fname,lname, salary):
      self.fname = fname
      self.lname = lname
      self.salary = salary
      Employee.employeeCount += 1
   
   def employeeTotal(self):
     print ("Total Employees %d" % Employee.employeeCount)

   def displayEmployee(self):
      print ("First Name : ", self.fname," Last Name : ", self.lname,  ", Salary: ", self.salary)


 


rec = pd.read_csv("project2and3/records.csv")


db = sqlite3.connect("Records.db")



## initializing cursor
mycur = db.cursor() 

sql = rec.to_sql('Records', db, if_exists="replace")

query = 'SELECT * FROM Records'

results = pd.read_sql_query(query, db)

print(results)



query1 = 'SELECT * FROM Records WHERE Gender="F"'

man = pd.read_sql_query(query1, db)

print(man)



# Find the maximum salary using aggregate function max()
findMaximumSalary = "SELECT max(Salary) FROM Records"

mycur.execute(findMaximumSalary)

# Print the maximum salary
print("The maximum salary is:")

#stores the maximum salary for searching table later
savedSalary = str(mycur.fetchone()[0])
print(savedSalary)




## Query to get information of the highest paid employee
getInfo = "SELECT Emp, First, Middle, Last, Gender, Salary FROM Records WHERE Salary LIKE "+ savedSalary


## execution statements to get first , last , and salary 

## getting first name
mycur.execute(getInfo)
first = mycur.fetchone()[1]

#getting last name
mycur.execute(getInfo)
last = mycur.fetchone()[3]

# getting salary
mycur.execute(getInfo)
sal = mycur.fetchone()[5]


## creating Employee object containing first, last name, and salary of employee with highest salary
highestEmployee = Employee(first,last,sal)

## display employee object using displayEmployee function in Emplyee class
highestEmployee.displayEmployee( )

    index     Emp  Name     First Middle      Last Gender  \
0       0  677509  Drs.      Lois      H    Walker      F
1       1  940761   Ms.    Brenda      S  Robinson      F
2       2  428945   Dr.       Joe      W  Robinson      M
3       3  408351  Drs.     Diane      I     Evans      F
4       4  193819   Mr.  Benjamin      R   Russell      M
..    ...     ...   ...       ...    ...       ...    ...
95     95  639892   Mr.      Jose      K      Hill      M
96     96  704709   Dr.    Harold      Z    Nelson      M
97     97  461593   Ms.    Nicole      O      Ward      F
98     98  392491  Mrs.   Theresa      R    Murphy      F
99     99  495141  Drs.     Tammy      B     Young      F

                          E Mail       Father Name         Mother Name  ...  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker  ...
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson  ...
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson  ...
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans  ...
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell  ...
..                           ...               ...                 ...  ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill  ...
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson  ...
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward  ...
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy  ...
99       tammy.young@comcast.net      Andrew Young        Brenda Young  ...

   Year of Joining Month of Joining Month Name of Joining  Short Month  \
0             2003               11              November          Nov
1             2008                7                  July          Jul
2             2016                8                August          Aug
3             1999                4                 April          Apr
4             2013                7                  July          Jul
..             ...              ...                   ...          ...
95            2016                7                  July          Jul
96            2011                8                August          Aug
97            1989                1               January          Jan
98            2010                8                August          Aug
99            2015                4                 April          Apr

    Day of Joining DOW of Joining Short DOW Age in Company (Years)  Salary  \
0               24         Monday       Mon                  13.68  168251
1               27         Sunday       Sun                   9.01   51063
2                3      Wednesday       Wed                   0.98   50155
3               16         Friday       Fri                  18.30  180294
4               25       Thursday       Thu                   4.01  117642
..             ...            ...       ...                    ...     ...
95               9       Saturday       Sat                   1.05  129774
96              23        Tuesday       Tue                   5.93  156194
97              23         Monday       Mon                  28.53   95673
98               3        Tuesday       Tue                   6.99   51015
99              25       Saturday       Sat                   2.26   93650

    Unnamed: 26
0          None
1          None
2          None
3          None
4          None
..          ...
95         None
96         None
97         None
98         None
99         None

[100 rows x 28 columns]
    index     Emp  Name      First Middle        Last Gender  \
0       0  677509  Drs.       Lois      H      Walker      F
1       1  940761   Ms.     Brenda      S    Robinson      F
2       3  408351  Drs.      Diane      I       Evans      F
3       6  539712   Ms.      Nancy      T       Baker      F
4       7  380086  Mrs.      Carol      V      Murphy      F
5       8  477616  Hon.    Frances      B       Young      F
6       9  162402  Hon.      Diana      T    Peterson      F
7      12  386158  Mrs.    Melissa      Q        King      F
8      14  441771  Mrs.     Cheryl      O       Scott      F
9      15  528509  Hon.      Paula      G        Diaz      F
10     17  214352   Ms.    Theresa      G         Lee      F
11     18  890290  Hon.      Julia      S       Scott      F
12     20  979607   Ms.      Carol      J     Edwards      F
13     22  426038  Hon.       Joan      C     Stewart      F
14     23  388642  Mrs.       Ruby      R      Rogers      F
15     24  560455   Ms.    Carolyn      V       Hayes      F
16     25  477253  Mrs.       Anne      L     Russell      F
17     28  474599  Drs.      Maria      W      Walker      F
18     29  335732   Ms.     Brenda      M      Butler      F
19     30  329752  Hon.    Lillian      X       Brown      F
20     31  893212   Ms.        Amy      B      Howard      F
21     35  333476  Hon.       Mary      P      Wilson      F
22     37  134841   Ms.      Donna      R       Brown      F
23     39  766610   Ms.      Joyce      E     Jenkins      F
24     40  923947   Ms.       Mary      G      Bryant      F
25     41  227922  Hon.     Amanda      M      Hughes      F
26     44  407061   Ms.  Elizabeth      Q     Jackson      F
27     45  226714  Drs.      Nancy      L       Davis      F
28     47  524896   Ms.       Judy      Y   Hernandez      F
29     48  363065  Drs.      Nancy      L       Jones      F
30     49  879753  Mrs.     Pamela      X      Wright      F
31     51  447813  Mrs.        Ann      Q     Coleman      F
32     52  525955  Drs.       Judy      C    Gonzales      F
33     55  253573   Ms.     Sharon      E       Lopez      F
34     56  904898  Drs.        Ann      Q      Cooper      F
35     57  515103   Ms.       Anne      A       Perez      F
36     58  491943  Mrs.      Nancy      P      Howard      F
37     60  687017   Ms.    Frances      P      Watson      F
38     61  241882   Ms.      Debra      G        Wood      F
39     63  940922  Hon.    Melissa      X      Butler      F
40     66  183071  Drs.     Andrea      P      Garcia      F
41     69  732017   Ms.    Cynthia      J     Ramirez      F
42     71  478003  Hon.    Cynthia      X       White      F
43     72  951225   Ms.   Margaret      N      Brooks      F
44     75  765850  Mrs.      Linda      R       Moore      F
45     76  262382   Ms.     Cheryl      O      Miller      F
46     77  870820   Ms.     Martha      G  Washington      F
47     79  325319  Hon.    Carolyn      F       Price      F
48     80  623253  Mrs.       Ruby      Q     Stewart      F
49     83  400173   Ms.    Dorothy      K     Edwards      F
50     85  476433   Ms.    Lillian      N    Mitchell      F
51     86  533952   Ms.      Kelly      R       Adams      F
52     88  844177   Ms.   Margaret      T       Allen      F
53     89  212893   Ms.      Janet      Y   Henderson      F
54     91  867084   Ms.    Deborah      E       Smith      F
55     92  969964  Hon.     Janice      S      Parker      F
56     93  158666   Ms.    Rebecca      A     Stewart      F
57     97  461593   Ms.     Nicole      O        Ward      F
58     98  392491  Mrs.    Theresa      R      Murphy      F
59     99  495141  Drs.      Tammy      B       Young      F

                            E Mail        Father Name         Mother Name  \
0          lois.walker@hotmail.com      Donald Walker        Helen Walker
1        brenda.robinson@gmail.com   Raymond Robinson       Judy Robinson
2            diane.evans@yahoo.com        Jason Evans      Michelle Evans
3               nancy.baker@bp.com        Scott Baker          Judy Baker
4           carol.murphy@gmail.com      Eugene Murphy    Katherine Murphy
5          frances.young@gmail.com         Fred Young       Lillian Young
6     diana.peterson@hotmail.co.uk  Jonathan Peterson  Christina Peterson
7         melissa.king@comcast.net        Philip King          Maria King
8           cheryl.scott@gmail.com      Richard Scott          Lois Scott
9             paula.diaz@gmail.com          Alan Diaz        Kathryn Diaz
10           theresa.lee@gmail.com           John Lee         Rebecca Lee
11           julia.scott@apple.com     Lawrence Scott           Amy Scott
12           carol.edwards@msn.com      Shawn Edwards       Susan Edwards
13          joan.stewart@yahoo.com    Charles Stewart       Julia Stewart
14           ruby.rogers@gmail.com      Ronald Rogers       Teresa Rogers
15     carolyn.hayes@hotmail.co.uk        Jimmy Hayes          Sara Hayes
16            anne.russell@ibm.com      Jimmy Russell   Stephanie Russell
17      maria.walker@microsoft.com       Ralph Walker       Teresa Walker
18         brenda.butler@gmail.com     Phillip Butler        Joyce Butler
19           lillian.brown@aol.com         Gary Brown      Virginia Brown
20              amy.howard@aol.com       James Howard     Virginia Howard
21       mary.wilson@sbcglobal.net      Robert Wilson     Jennifer Wilson
22             donna.brown@aol.com         Adam Brown         Irene Brown
23           joyce.jenkins@aol.com     Edward Jenkins       Susan Jenkins
24         mary.bryant@verizon.net      Joshua Bryant        Norma Bryant
25    amanda.hughes@rediffmail.com         Roy Hughes      Cynthia Hughes
26       elizabeth.jackson@aol.com      Scott Jackson   Catherine Jackson
27             nancy.davis@ibm.com        Bruce Davis       Jessica Davis
28        judy.hernandez@gmail.com     Fred Hernandez    Pamela Hernandez
29           nancy.jones@gmail.com       Eugene Jones        Sandra Jones
30           pamela.wright@aol.com       Terry Wright        Debra Wright
31             ann.coleman@ibm.com     Harold Coleman        Tina Coleman
32         judy.gonzales@gmail.com     Kevin Gonzales     Sharon Gonzales
33          sharon.lopez@gmail.com       Daniel Lopez         Susan Lopez
34       ann.cooper@exxonmobil.com      Harold Cooper      Mildred Cooper
35        anne.perez@sbcglobal.net      Douglas Perez         Doris Perez
36          nancy.howard@gmail.com     Gregory Howard      Mildred Howard
37      frances.watson@outlook.com        Adam Watson        Diana Watson
38          debra.wood@hotmail.com        Martin Wood        Theresa Wood
39      melissa.butler@hotmail.com      Robert Butler         Anne Butler
40           andrea.garcia@aol.com        Mark Garcia       Nicole Garcia
41  cynthia.ramirez@btinternet.com     Walter Ramirez      Evelyn Ramirez
42         cynthia.white@gmail.com     Nicholas White     Katherine White
43       margaret.brooks@gmail.com      Johnny Brooks        Debra Brooks
44           linda.moore@gmail.com       Howard Moore         Diana Moore
45      cheryl.miller@ntlworld.com      Gerald Miller    Christine Miller
46       martha.washington@aol.com    Todd Washington  Carolyn Washington
47         carolyn.price@yahoo.com        Kevin Price      Patricia Price
48          ruby.stewart@gmail.com       Paul Stewart       Paula Stewart
49   dorothy.edwards@hotmail.co.uk     Dennis Edwards       Betty Edwards
50        lillian.mitchell@shaw.ca     Harry Mitchell      Marie Mitchell
51              kelly.adams@bp.com         Eric Adams        Janice Adams
52        margaret.allen@gmail.com      Michael Allen         Karen Allen
53    janet.henderson@ntlworld.com    Jerry Henderson     Julie Henderson
54         deborah.smith@yahoo.com      Richard Smith         Diana Smith
55         janice.parker@yahoo.com        Paul Parker        Alice Parker
56       rebecca.stewart@gmail.com      Roger Stewart       Carol Stewart
57           nicole.ward@yahoo.com         Ralph Ward          Julia Ward
58        theresa.murphy@gmail.com      George Murphy   Jacqueline Murphy
59         tammy.young@comcast.net       Andrew Young        Brenda Young

    ... Year of Joining Month of Joining Month Name of Joining  Short Month  \
0   ...            2003               11              November          Nov
1   ...            2008                7                  July          Jul
2   ...            1999                4                 April          Apr
3   ...            2016                9             September          Sep
4   ...            1983                1               January          Jan
5   ...            1994                4                 April          Apr
6   ...            2014                2              February          Feb
7   ...            2015               11              November          Nov
8   ...            1990               11              November          Nov
9   ...            1994                8                August          Aug
10  ...            2015                1               January          Jan
11  ...            2005                2              February          Feb
12  ...            2016                4                 April          Apr
13  ...            2009               12              December          Dec
14  ...            2013                8                August          Aug
15  ...            2001                7                  July          Jul
16  ...            2013               11              November          Nov
17  ...            1998               10               October          Oct
18  ...            1987                8                August          Aug
19  ...            2015                4                 April          Apr
20  ...            2003                6                  June          Jun
21  ...            1991               12              December          Dec
22  ...            2013                7                  July          Jul
23  ...            2010                5                   May          May
24  ...            2004                5                   May          May
25  ...            2007                4                 April          Apr
26  ...            2005                1               January          Jan
27  ...            2012                8                August          Aug
28  ...            2011               12              December          Dec
29  ...            2015               10               October          Oct
30  ...            2017                6                  June          Jun
31  ...            2013               11              November          Nov
32  ...            1992                1               January          Jan
33  ...            2014                3                 March          Mar
34  ...            2017                2              February          Feb
35  ...            2003                7                  July          Jul
36  ...            1999                2              February          Feb
37  ...            2010                8                August          Aug
38  ...            1991                1               January          Jan
39  ...            2017                2              February          Feb
40  ...            2010                4                 April          Apr
41  ...            2009                2              February          Feb
42  ...            2004                3                 March          Mar
43  ...            2016                8                August          Aug
44  ...            2017                5                   May          May
45  ...            2007                7                  July          Jul
46  ...            2017                3                 March          Mar
47  ...            2014               11              November          Nov
48  ...            2017                7                  July          Jul
49  ...            2013               12              December          Dec
50  ...            1999               12              December          Dec
51  ...            2013                7                  July          Jul
52  ...            2013                5                   May          May
53  ...            2012               12              December          Dec
54  ...            2002                3                 March          Mar
55  ...            2016                8                August          Aug
56  ...            1983                4                 April          Apr
57  ...            1989                1               January          Jan
58  ...            2010                8                August          Aug
59  ...            2015                4                 April          Apr

    Day of Joining DOW of Joining Short DOW Age in Company (Years)  Salary  \
0               24         Monday       Mon                  13.68  168251
1               27         Sunday       Sun                   9.01   51063
2               16         Friday       Fri                  18.30  180294
3               14      Wednesday       Wed                   0.87   98189
4               28         Friday       Fri                  34.52   60918
5               27      Wednesday       Wed                  23.27  121587
6               17         Monday       Mon                   3.44   43010
7               24        Tuesday       Tue                   1.68  166892
8               26         Monday       Mon                  26.69   92220
9               22         Monday       Mon                  22.95  152654
10              19         Monday       Mon                   2.52  197537
11              23      Wednesday       Wed                  12.43  141518
12              25         Monday       Mon                   1.26   93967
13              30      Wednesday       Wed                   7.58  111673
14              30         Friday       Fri                   3.91  160623
15               3        Tuesday       Tue                  16.08   42005
16              24         Sunday       Sun                   3.68  103160
17               1       Thursday       Thu                  18.84   48944
18              20       Thursday       Thu                  29.96   60508
19              13         Monday       Mon                   2.29   67251
20               1         Sunday       Sun                  14.17  112715
21              22         Sunday       Sun                  25.62  109394
22              17      Wednesday       Wed                   4.03  129836
23              14         Friday       Fri                   7.21  119321
24              20       Thursday       Thu                  13.20  155442
25              19       Thursday       Thu                  10.28  114257
26              19      Wednesday       Wed                  12.53   85420
27              25       Saturday       Sat                   4.93   94986
28              27        Tuesday       Tue                   5.59  133332
29              16         Friday       Fri                   1.78   61924
30               9         Friday       Fri                   0.13  149262
31              19        Tuesday       Tue                   3.69  130014
32               3         Friday       Fri                  25.58  149575
33               7         Friday       Fri                   3.39  190139
34              15      Wednesday       Wed                   0.45  182521
35              28         Monday       Mon                  14.01  114426
36               6       Saturday       Sat                  18.48  101553
37              20         Friday       Fri                   6.94   46945
38              10       Thursday       Thu                  26.56   84318
39               5         Sunday       Sun                   0.47  167631
40              18         Sunday       Sun                   7.28   54179
41              18      Wednesday       Wed                   8.44   90531
42               4       Thursday       Thu                  13.41  186200
43              26         Friday       Fri                   0.92   43867
44              15         Monday       Mon                   0.20  113256

/Users/anthony/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [2]:
man

,index,Emp,Name,First,Middle,Last,Gender,E Mail,Father Name,Mother Name,...,Year of Joining,Month of Joining,Month Name of Joining,Short Month,Day of Joining,DOW of Joining,Short DOW,Age in Company (Years),Salary,Unnamed: 26
0,0,677509,Drs.,Lois,H,Walker,F,lois.walker@hotmail.com,Donald Walker,Helen Walker,...,2003,11,November,Nov,24,Monday,Mon,13.68,168251,None
1,1,940761,Ms.,Brenda,S,Robinson,F,brenda.robinson@gmail.com,Raymond Robinson,Judy Robinson,...,2008,7,July,Jul,27,Sunday,Sun,9.01,51063,None
2,3,408351,Drs.,Diane,I,Evans,F,diane.evans@yahoo.com,Jason Evans,Michelle Evans,...,1999,4,April,Apr,16,Friday,Fri,18.30,180294,None
3,6,539712,Ms.,Nancy,T,Baker,F,nancy.baker@bp.com,Scott Baker,Judy Baker,...,2016,9,September,Sep,14,Wednesday,Wed,0.87,98189,None
4,7,380086,Mrs.,Carol,V,Murphy,F,carol.murphy@gmail.com,Eugene Murphy,Katherine Murphy,...,1983,1,January,Jan,28,Friday,Fri,34.52,60918,None
5,8,477616,Hon.,Frances,B,Young,F,frances.young@gmail.com,Fred Young,Lillian Young,...,1994,4,April,Apr,27,Wednesday,Wed,23.27,121587,None
6,9,162402,Hon.,Diana,T,Peterson,F,diana.peterson@hotmail.co.uk,Jonathan Peterson,Christina Peterson,...,2014,2,February,Feb,17,Monday,Mon,3.44,43010,None
7,12,386158,Mrs.,Melissa,Q,King,F,melissa.king@comcast.net,Philip King,Maria King,...,2015,11,November,Nov,24,Tuesday,Tue,1.68,166892,None
8,14,441771,Mrs.,Cheryl,O,Scott,F,cheryl.scott@gmail.com,Richard Scott,Lois Scott,...,1990,11,November,Nov,26,Monday,Mon,26.69,92220,None
9,15,528509,Hon.,Paula,G,Diaz,F,paula.diaz@gmail.com,Alan Diaz,Kathryn Diaz,...,1994,8,August,Aug,22,Monday,Mon,22.95,152654,None
10,17,214352,Ms.,Theresa,G,Lee,F,theresa.lee@gmail.com,John Lee,Rebecca Lee,...,2015,1,January,Jan,19,Monday,Mon,2.52,197537,None
11,18,890290,Hon.,Julia,S,Scott,F,julia.scott@apple.com,Lawrence Scott,Amy Scott,...,2005,2,February,Feb,23,Wednesday,Wed,12.43,141518,None
12,20,979607,Ms.,Carol,J,Edwards,F,carol.edwards@msn.com,Shawn Edwards,Susan Edwards,...,2016,4,April,Apr,25,Monday,Mon,1.26,93967,None
13,22,426038,Hon.,Joan,C,Stewart,F,joan.stewart@yahoo.com,Charles Stewart,Julia Stewart,...,2009,12,December,Dec,30,Wednesday,Wed,7.58,111673,None
14,23,388642,Mrs.,Ruby,R,Rogers,F,ruby.rogers@gmail.com,Ronald Rogers,Teresa Rogers,...,2013,8,August,Aug,30,Friday,Fri,3.91,160623,None
15,24,560455,Ms.,Carolyn,V,Hayes,F,carolyn.hayes@hotmail.co.uk,Jimmy Hayes,Sara Hayes,...,2001,7,July,Jul,3,Tuesday,Tue,16.08,42005,None
16,25,477253,Mrs.,Anne,L,Russell,F,anne.russell@ibm.com,Jimmy Russell,Stephanie Russell,...,2013,11,November,Nov,24,Sunday,Sun,3.68,103160,None
17,28,474599,Drs.,Maria,W,Walker,F,maria.walker@microsoft.com,Ralph Walker,Teresa Walker,...,1998,10,October,Oct,1,Thursday,Thu,18.84,48944,None
18,29,335732,Ms.,Brenda,M,Butler,F,brenda.butler@gmail.com,Phillip Butler,Joyce Butler,...,1987,8,August,Aug,20,Thursday,Thu,29.96,60508,None
19,30,329752,Hon.,Lillian,X,Brown,F,lillian.brown@aol.com,Gary Brown,Virginia Brown,...,2015,4,April,Apr,13,Monday,Mon,2.29,67251,None
20,31,893212,Ms.,Amy,B,Howard,F,amy.howard@aol.com,James Howard,Virginia Howard,...,2003,6,June,Jun,1,Sunday,Sun,14.17,112715,None
21,35,333476,Hon.,Mary,P,Wilson,F,mary.wilson@sbcglobal.net,Robert Wilson,Jennifer Wilson,...,1991,12,December,Dec,22,Sunday,Sun,25.62,109394,None
22,37,134841,Ms.,Donna,R,Brown,F,donna.brown@aol.com,Adam Brown,Irene Brown,...,2013,7,July,Jul,17,Wednesday,Wed,4.03,129836,None
23,39,766610,Ms.,Joyce,E,Jenkins,F,joyce.jenkins@aol.com,Edward Jenkins,Susan Jenkins,...,2010,5,May,May,14,Friday,Fri,7.21,119321,None
24,40,923947,Ms.,Mary,G,Bryant,F,mary.bryant@verizon.net,Joshua Bryant,Norma Bryant,...,2004,5,May,May,20,Thursday,Thu,13.20,155442,None
25,41,227922,Hon.,Amanda,M,Hughes,F,amanda.hughes@rediffmail.com,Roy Hughes,Cynthia Hughes,...,2007,4,April,Apr,19,Thursday,Thu,10.28,114257,None
26,44,407061,Ms.,Elizabeth,Q,Jackson,F,elizabeth.jackson@aol.com,Scott Jackson,Catherine Jackson,...,2005,1,January,Jan,19,Wednesday,Wed,12.53,85420,None
27,45,226714,Drs.,Nancy,L,Davis,F,nancy.davis@ibm.com,Bruce Davis,Jessica Davis,...,2012,8,August,Aug,25,Saturday,Sat,4.93,94986,None
28,47,524896,Ms.,Judy,Y,Hernandez,F,judy.hernandez@gmail.com,Fred Hernandez,Pamela Hernandez,...,2011,12,December,Dec,27,Tuesday,Tue,5.59,133332,None
29,48,363065,Drs.,Nancy,L,Jones,F,nancy.jones@gmail.com,Eugene Jones,Sandra Jones,...,2015,10,October,Oct,16,Friday,Fri,1.78,61924,None
30,49,879753,Mrs.,Pamela,X,Wright,F,pamela.wright@aol.com,Terry Wright,Debra Wright,...,2017,6,June,Jun,9,Friday,Fri,0.13,149262,None
31,51,447813,Mrs.,Ann,Q,Coleman,F,ann.coleman@ibm.com,Harold Coleman,Tina Coleman,...,2013,11,November,Nov,19,Tuesday,Tue,3.69,130014,None
32,52,525955,Drs.,Judy,C,Gonzales,F,judy.gonzales@gmail.com,Kevin Gonzales,Sharon Gonzales,...,1992,1,January,Jan,3,Friday,Fri,25.58,149575,None
33,55,253573,Ms.,Sharon,E,Lopez,F,sharon.lopez@gmail.com,Daniel Lopez,Susan Lopez,...,2014,3,March,Mar,7,Friday,Fri,3.39,190139,None
34,56,904898,Drs.,Ann,Q,Cooper,F,ann.cooper@exxonmobil.com,Harold Cooper,Mildred Cooper,...,2017,2,February,Feb,15,Wednesday,Wed,0.45,182521,None
35,57,515103,Ms.,Anne,A,Perez,F,anne.perez@sbcglobal.net,Douglas Perez,Doris Perez,...,2003,7,July,Jul,28,Monday,Mon,14.01,114426,None
36,58,491943,Mrs.,Nancy,P,Howard,F,nancy.howard@gmail.com,Gregory Howard,Mildred Howard,...,1999,2,February,Feb,6,Saturday,Sat,18.48,101553,None
37,60,687017,Ms.,Frances,P,Watson,F,frances.watson@outlook.com,Adam Watson,Diana Watson,...,2010,8,August,Aug,20,Friday,Fri,6.94,46945,None
38,61,241882,Ms.,Debra,G,Wood,F,debra.wood@hotmail.com,Martin Wood,Theresa Wood,...,1991,1,January,Jan,10,Thursday,Thu,26.56,84318,None
39,63,940922,Hon.,Melissa,X,Butler,F,melissa.butler@hotmail.com,Robert Butler,Anne Butler,...,2017,2,February,Feb,5,Sunday,Sun,0.47,167631,None
40,66,183071,Drs.,Andrea,P,Garcia,F,andrea.garcia@aol.com,Mark Garcia,Nicole Garcia,...,2010,4,April,Apr,18,Sunday,Sun,7.28,54179,None
41,69,732017,Ms.,Cynthia,J,Ramirez,F,cynthia.ramirez@btinternet.com,Walter Ramirez,Evelyn Ramirez,...,2009,2,February,Feb,18,Wednesday,Wed,8.44,90531,None
42,71,478003,Hon.,Cynthia,X,White,F,cynthia.white@gmail.com,Nicholas White,Katherine White,...,2004,3,March,Mar,4,Thursday,Thu,13.41,186200,None
43,72,951225,Ms.,Margaret,N,Brooks,F,margaret.brooks@gmail.com,Johnny Brooks,Debra Brooks,...,2016,8,August,Aug,26,Friday,Fri,0.92,43867,None
44,75,765850,Mrs.,Linda,R,Moore,F,linda.moore@gmail.com,Howard Moore,Diana Moore,...,2017,5,May,May,15,Monday,Mon,0.20,113256,None
45,76,262382,Ms.,Cheryl,O,Miller,F,cheryl.miller@ntlworld.com,Gerald Miller,Christine Miller,...,2007,7,July,Jul,30,Monday,Mon,10.00,64143,None
46,77,870820,Ms.,Martha,G,Washington,F,martha.washington@aol.com,Todd Washington,Carolyn Washington,...,2017,3,March,Mar,3,Friday,Fri,0.40,116629,None
47,79,325319,Hon.,Carolyn,F,Price,F,carolyn.price@yahoo.com,Kevin Price,Patricia Price,...,2014,11,November,Nov,5,Wednesday,Wed,2.73,48736,None
48,80,623253,Mrs.,Ruby,Q,Stewart,F,ruby.stewart@gmail.com,Paul Stewart,Paula Stewart,...,2017,7,July,Jul,2,Sunday,Sun,0.07,174774,None
49,83,400173,Ms.,Dorothy,K,Edwards,F,dorothy.edwards@hotmail.co.uk,Dennis Edwards,Betty Edwards,...,2013,12,December,Dec,31,Tuesday,Tue,3.58,179017,None
50,85,476433,Ms.,Lillian,N,Mitchell,F,lillian.mitchell@shaw.ca,Harry Mitchell,Marie Mitchell,...,1999,12,December,Dec,7,Tuesday,Tue,17.65,149878,None
51,86,533952,Ms.,Kelly,R,Adams,F,kelly.adams@bp.com,Eric Adams,Janice Adams,...,2013,7,July,Jul,4,Thursday,Thu,4.07,51878,None
52,88,844177,Ms.,Margaret,T,Allen,F,margaret.allen@gmail.com,Michael Allen,Karen Allen,...,2013,5,May,May,17,Friday,Fri,4.20,180107,None
53,89,212893,Ms.,Janet,Y,Henderson,F,janet.henderson@ntlworld.com,Jerry Henderson,Julie Henderson,...,2012,12,December,Dec,18,Tuesday,Tue,4.61,114481,None
54,91,867084,Ms.,Deborah,E,Smith,F,deborah.smith@yahoo.com,Richard Smith,Diana Smith,...,2002,3,March,Mar,4,Monday,Mon,15.41,52767,None
55,92,969964,Hon.,Janice,S,Parker,F,janice.parker@yahoo.com,Paul Parker,Alice Parker,...,2016,8,August,Aug,23,Tuesday,Tue,0.93,147641,None
56,93,158666,Ms.,Rebecca,A,Stewart,F,rebecca.stewart@gmail.com,Roger Stewart,Carol Stewart,...,1983,4,April,Apr,10,Sunday,Sun,34.32,160043,None
57,97,461593,Ms.,Nicole,O,Ward,F,nicole.ward@yahoo.com,Ralph Ward,Julia Ward,...,1989,1,January,Jan,23,Monday,Mon,28.53,95673,None
58,98,392491,Mrs.,Theresa,R,Murphy,F,theresa.murphy@gmail.com,George Murphy,Jacqueline Murphy,...,2010,8,August,Aug,3,Tuesday,Tue,6.99,51015,None
59,99,495141,Drs.,Tammy,B,Young,F,tammy.young@comcast.net,Andrew Young,Brenda Young,...,2015,4,April,Apr,25,Saturday,Sat,2.26,93650,None